<div x-show="modalOpen" x-transition
    class="fixed left-0 top-0 z-999999 flex h-full min-h-screen w-full items-center justify-center bg-black/90 px-4 py-5">
    <div @click.outside="modalOpen = false"
        class="w-full max-w-142.5 rounded-lg bg-white p-6 text-center dark:bg-boxdark ">
        <div class="flex justify-between items-center mb-6">
            <h3 class="text-title-sm2 font-bold text-slate-900 dark:text-white">
                Select Outcome
            </h3>
            <button @click="modalOpen = false"
                class="block text-center font-medium text-slate-900   hover:text-white dark:border-strokedark dark:bg-meta-4 dark:text-white ">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M18 6L6.00081 17.9992M17.9992 18L6 6.00085" stroke="black" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>

        <!--Accordion starts-->
        <div class="flex flex-col mb-3">
            <!-- Accordion Item -->
            <div x-data="{ accordionOpen: false }" @click.outside="accordionOpen = false"
                class="dark:shadow-none mb-4 border border-stroke rounded-lg">
                <button @click="accordionOpen = !accordionOpen"
                    class="flex w-full items-center  px-4 py-2 border-b border-stroke">
                    <div class="flex items-center justify-between w-full">
                        <div class="flex items-center gap-1">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                                    fill="none">
                                    <circle cx="20" cy="20" r="19.5" fill="#EFF4FB" stroke="#D7E5F9" />
                                    <path
                                        d="M23.334 18.334L25.1252 18.8713C26.2695 19.2147 26.8417 19.3863 27.1712 19.8292C27.5007 20.272 27.5007 20.8694 27.5007 22.0641V28.334"
                                        stroke="#64748B" stroke-linejoin="round" />
                                    <path d="M16.666 17.5H19.166M16.666 20.8333H19.166" stroke="#64748B"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M20.0007 28.3327V25.8327C20.0007 25.047 20.0007 24.6542 19.7566 24.4101C19.5125 24.166 19.1197 24.166 18.334 24.166H17.5007C16.715 24.166 16.3221 24.166 16.0781 24.4101C15.834 24.6542 15.834 25.047 15.834 25.8327V28.3327"
                                        stroke="#64748B" stroke-linejoin="round" />
                                    <path d="M11.666 28.334H28.3327" stroke="#64748B" stroke-linecap="round" />
                                    <path
                                        d="M12.5 28.3327V15.5971C12.5 13.5048 12.5 12.4586 13.1593 11.9396C13.8186 11.4205 14.7895 11.7023 16.7313 12.2659L20.8979 13.4754C22.0697 13.8155 22.6556 13.9856 22.9944 14.4491C23.3333 14.9126 23.3333 15.5439 23.3333 16.8065V28.3327"
                                        stroke="#64748B" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div>
                                <h4 class="text-sm font-medium text-slate-800 dark:text-white">
                                    Undefined
                                </h4>
                            </div>
                        </div>
                        <div class="flex flex-col justify-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                fill="none" :class="accordionOpen && 'rotate-180'"
                                class="duration-200 ease-in-out fill-current">
                                <path
                                    d="M8.99995 12.825C8.8312 12.825 8.69058 12.7688 8.54995 12.6563L2.0812 6.30002C1.82808 6.0469 1.82808 5.65315 2.0812 5.40002C2.33433 5.1469 2.72808 5.1469 2.9812 5.40002L8.99995 11.2781L15.0187 5.34377C15.2718 5.09065 15.6656 5.09065 15.9187 5.34377C16.1718 5.5969 16.1718 5.99065 15.9187 6.24377L9.44995 12.6C9.30933 12.7406 9.1687 12.825 8.99995 12.825Z"
                                    fill="" />
                            </svg>

                        </div>
                    </div>
                </button>

                <div x-show="accordionOpen"
                    class="duration-200 ease-in-out  p-4 pb-0 ">
                    <!-- ====== Form checkbox -->
                    <form class="flex">
                        <div class="flex flex-wrap">

                            <div x-data="{ checkboxToggle: false }" class="w-1/2 mb-4">
                                <label for="AnswerMachineAuto"
                                    class="flex cursor-pointer select-none items-center text-sm font-medium">
                                    <div class="relative">
                                        <input type="checkbox" id="AnswerMachineAuto" class="sr-only"
                                            @change="checkboxToggle = !checkboxToggle" />
                                        <div :class="checkboxToggle && 'border-primary bg-gray dark:bg-transparent'"
                                            class="mr-4 flex h-5 w-5 items-center justify-center rounded border">
                                            <span :class="checkboxToggle && '!opacity-100'" class="opacity-0">
                                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                                                        fill="#3056D3" stroke="#3056D3" stroke-width="0.4"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    Answer Machine Auto
                                </label>
                            </div>

                            <div x-data="{ checkboxToggle: false }" class="w-1/2 mb-4">
                                <label for="Busy"
                                    class="flex cursor-pointer select-none items-center text-sm font-medium">
                                    <div class="relative">
                                        <input type="checkbox" id="Busy" class="sr-only"
                                            @change="checkboxToggle = !checkboxToggle" />
                                        <div :class="checkboxToggle && 'border-primary bg-gray dark:bg-transparent'"
                                            class="mr-4 flex h-5 w-5 items-center justify-center rounded border">
                                            <span :class="checkboxToggle && '!opacity-100'" class="opacity-0">
                                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                                                        fill="#3056D3" stroke="#3056D3" stroke-width="0.4"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    Busy
                                </label>
                            </div>

                            <div x-data="{ checkboxToggle: false }" class="w-1/2 mb-4">
                                <label for="DoNotCall"
                                    class="flex cursor-pointer select-none items-center text-sm font-medium">
                                    <div class="relative">
                                        <input type="checkbox" id="DoNotCall" class="sr-only"
                                            @change="checkboxToggle = !checkboxToggle" />
                                        <div :class="checkboxToggle && 'border-primary bg-gray dark:bg-transparent'"
                                            class="mr-4 flex h-5 w-5 items-center justify-center rounded border">
                                            <span :class="checkboxToggle && '!opacity-100'" class="opacity-0">
                                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                                                        fill="#3056D3" stroke="#3056D3" stroke-width="0.4"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    Do Not Call
                                </label>
                            </div>

                            <div x-data="{ checkboxToggle: false }" class="w-1/2 mb-4">
                                <label for="ScheduleCallbackYes"
                                    class="flex cursor-pointer select-none items-center text-sm font-medium">
                                    <div class="relative">
                                        <input type="checkbox" id="ScheduleCallbackYes" class="sr-only"
                                            @change="checkboxToggle = !checkboxToggle" />
                                        <div :class="checkboxToggle && 'border-primary bg-gray dark:bg-transparent'"
                                            class="mr-4 flex h-5 w-5 items-center justify-center rounded border">
                                            <span :class="checkboxToggle && '!opacity-100'" class="opacity-0">
                                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                                                        fill="#3056D3" stroke="#3056D3" stroke-width="0.4"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    Schedule Callback Yes
                                </label>
                            </div>



                        </div>
                    </form>
                </div>
            </div>
            <!-- Accordion Item Ends -->

            <!-- Accordion Item -->
            <div x-data="{ accordionOpen: false }" @click.outside="accordionOpen = false" 
                class="dark:shadow-none mb-4 border border-stroke rounded-lg hover:bg-slate-50 focus:bg-slate-50">
                <button @click="accordionOpen = !accordionOpen" data-active-classes="bg-slate-50"
                    class="flex w-full items-center px-4 py-2 border-b border-stroke">
                    <div class="flex items-center justify-between w-full">
                        <div class="flex items-center gap-1">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                                    fill="none">
                                    <circle cx="20" cy="20" r="19.5" fill="#EFF4FB" stroke="#D7E5F9" />
                                    <path
                                        d="M23.334 18.334L25.1252 18.8713C26.2695 19.2147 26.8417 19.3863 27.1712 19.8292C27.5007 20.272 27.5007 20.8694 27.5007 22.0641V28.334"
                                        stroke="#64748B" stroke-linejoin="round" />
                                    <path d="M16.666 17.5H19.166M16.666 20.8333H19.166" stroke="#64748B"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M20.0007 28.3327V25.8327C20.0007 25.047 20.0007 24.6542 19.7566 24.4101C19.5125 24.166 19.1197 24.166 18.334 24.166H17.5007C16.715 24.166 16.3221 24.166 16.0781 24.4101C15.834 24.6542 15.834 25.047 15.834 25.8327V28.3327"
                                        stroke="#64748B" stroke-linejoin="round" />
                                    <path d="M11.666 28.334H28.3327" stroke="#64748B" stroke-linecap="round" />
                                    <path
                                        d="M12.5 28.3327V15.5971C12.5 13.5048 12.5 12.4586 13.1593 11.9396C13.8186 11.4205 14.7895 11.7023 16.7313 12.2659L20.8979 13.4754C22.0697 13.8155 22.6556 13.9856 22.9944 14.4491C23.3333 14.9126 23.3333 15.5439 23.3333 16.8065V28.3327"
                                        stroke="#64748B" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div>
                                <h4 class="text-sm font-medium text-slate-800 dark:text-white">
                                    Undefined
                                </h4>
                            </div>
                        </div>
                        <div class="flex flex-col justify-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                fill="none" :class="accordionOpen && 'rotate-180'"
                                class="duration-200 ease-in-out fill-current">
                                <path
                                    d="M8.99995 12.825C8.8312 12.825 8.69058 12.7688 8.54995 12.6563L2.0812 6.30002C1.82808 6.0469 1.82808 5.65315 2.0812 5.40002C2.33433 5.1469 2.72808 5.1469 2.9812 5.40002L8.99995 11.2781L15.0187 5.34377C15.2718 5.09065 15.6656 5.09065 15.9187 5.34377C16.1718 5.5969 16.1718 5.99065 15.9187 6.24377L9.44995 12.6C9.30933 12.7406 9.1687 12.825 8.99995 12.825Z"
                                    fill="" />
                            </svg>

                        </div>
                    </div>
                </button>

                <div x-show="accordionOpen"
                    class="duration-200 ease-in-out p-4 pb-0">
                    <form class="flex">
                        <div class="flex flex-wrap w-full">

                            <div x-data="{ checkboxToggle: false }" class="w-1/2 mb-4">
                                <label for="AnswerMachines"
                                    class="flex cursor-pointer select-none items-center text-sm font-medium">
                                    <div class="relative">
                                        <input type="checkbox" id="AnswerMachines" class="sr-only"
                                            @change="checkboxToggle = !checkboxToggle" />
                                        <div :class="checkboxToggle && 'border-primary bg-gray dark:bg-transparent'"
                                            class="mr-4 flex h-5 w-5 items-center justify-center rounded border">
                                            <span :class="checkboxToggle && '!opacity-100'" class="opacity-0">
                                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                                                        fill="#3056D3" stroke="#3056D3" stroke-width="0.4"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    Answer Machines
                                </label>
                            </div>

                            <div x-data="{ checkboxToggle: false }" class="w-1/2 mb-4">
                                <label for="VM"
                                    class="flex cursor-pointer select-none items-center text-sm font-medium">
                                    <div class="relative">
                                        <input type="checkbox" id="VM" class="sr-only"
                                            @change="checkboxToggle = !checkboxToggle" />
                                        <div :class="checkboxToggle && 'border-primary bg-gray dark:bg-transparent'"
                                            class="mr-4 flex h-5 w-5 items-center justify-center rounded border">
                                            <span :class="checkboxToggle && '!opacity-100'" class="opacity-0">
                                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                                                        fill="#3056D3" stroke="#3056D3" stroke-width="0.4"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    VM
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Accordion Item Ends -->

        </div>
        <!--Accordion Ends-->

        <!-- <div class="flex flex-wrap">
            <div class="flex gap-2 items-center mb-4">
                  <label class="mb-0 block text-base font-medium text-slate-800 dark:text-white">
                    Set your status to :
                  </label>
                  <div x-data="{ isOptionSelected: false }" class="relative z-20 bg-white dark:bg-form-input grow">
                    <select
                      class="relative z-20 w-full text-slate-600 min-w-28 appearance-none rounded-lg border border-stroke bg-transparent py-1 pl-4 pr-5.5 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input"
                      :class="isOptionSelected && 'text-slate-600 dark:text-white'" @change="isOptionSelected = true">
                      <option value="" class="">Available</option>                      
                      <option value="" class="">Testing</option>
                      <option value="" class="">Lunch</option>
                      <option value="" class="">Bathroom</option>
                    </select>
                    <span class="absolute right-0.5 top-1/2 z-20 -translate-y-1/2">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.8">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z"
                            fill="#637381"></path>
                        </g>
                      </svg>
                    </span>
                  </div>
                </div>
        </div> -->

        <div class="flex flex-wrap">
            <div class="flex gap-2 items-center mb-4">
                  <p class="mb-0 block text-base font-medium text-slate-800 dark:text-white">
                    Set your status to :
                  </p>
            <div
                    x-data="{openDropDown: false}"
                    class="relative mb-0 inline-block"
                  >
                    <a
                      href="#"
                      @click.prevent="openDropDown = !openDropDown"
                      class="inline-flex items-center gap-2.5 text-slate-600 min-w-28 appearance-none rounded-lg border border-stroke bg-transparent py-1 pl-4 pr-5.5 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input"
                    >
                      Available
                      <svg
                        class="fill-current duration-200 ease-linear"
                        :class="openDropDown && 'rotate-180'"
                        width="12"
                        height="7"
                        viewBox="0 0 12 7"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M0.564864 0.879232C0.564864 0.808624 0.600168 0.720364 0.653125 0.667408C0.776689 0.543843 0.970861 0.543844 1.09443 0.649756L5.82517 5.09807C5.91343 5.18633 6.07229 5.18633 6.17821 5.09807L10.9089 0.649756C11.0325 0.526192 11.2267 0.543844 11.3502 0.667408C11.4738 0.790972 11.4562 0.985145 11.3326 1.10871L6.60185 5.55702C6.26647 5.85711 5.73691 5.85711 5.41917 5.55702L0.670776 1.10871C0.600168 1.0381 0.564864 0.967492 0.564864 0.879232Z"
                          fill=""
                        />
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.4719 0.229332L6.00169 4.48868L10.5171 0.24288C10.9015 -0.133119 11.4504 -0.0312785 11.7497 0.267983C12.1344 0.652758 12.0332 1.2069 11.732 1.50812L11.7197 1.52041L6.97862 5.9781C6.43509 6.46442 5.57339 6.47872 5.03222 5.96853C5.03192 5.96825 5.03252 5.96881 5.03222 5.96853L0.271144 1.50833C0.123314 1.3605 -5.04223e-08 1.15353 -3.84322e-08 0.879226C-2.88721e-08 0.660517 0.0936127 0.428074 0.253705 0.267982C0.593641 -0.0719548 1.12269 -0.0699964 1.46204 0.220873L1.4719 0.229332ZM5.41917 5.55702C5.73691 5.85711 6.26647 5.85711 6.60185 5.55702L11.3326 1.10871C11.4562 0.985145 11.4738 0.790972 11.3502 0.667408C11.2267 0.543844 11.0325 0.526192 10.9089 0.649756L6.17821 5.09807C6.07229 5.18633 5.91343 5.18633 5.82517 5.09807L1.09443 0.649756C0.970861 0.543844 0.776689 0.543843 0.653125 0.667408C0.600168 0.720364 0.564864 0.808624 0.564864 0.879232C0.564864 0.967492 0.600168 1.0381 0.670776 1.10871L5.41917 5.55702Z"
                          fill=""
                        />
                      </svg>
                    </a>
                    <div
                      x-show="openDropDown"
                      @click.outside="openDropDown = false"
                      class="absolute left-0 top-full z-40 mt-2 w-full rounded-md border border-stroke bg-white shadow-card dark:border-strokedark dark:bg-boxdark"
                    >
                      <ul class="flex flex-col p-2">
                        <li>
                          <a
                            href="#"
                            class="flex px-2 py-2 font-medium hover:bg-indigo-50 rounded hover:text-primary dark:hover:bg-meta-4"
                          >
                            Available
                          </a>
                        </li>
                        <li>
                          <a
                            href="#"
                            class="flex px-5 py-2 font-medium hover:bg-indigo-50 rounded hover:text-primary dark:hover:bg-meta-4"
                          >
                            Testing
                          </a>
                        </li>
                        <li>
                          <a
                            href="#"
                            class="flex px-5 py-2 font-medium hover:bg-indigo-50 rounded hover:text-primary dark:hover:bg-meta-4"
                          >
                            Lunch
                          </a>
                        </li>
                        <li>
                          <a
                            href="#"
                            class="flex px-5 py-2 font-medium hover:bg-indigo-50 rounded hover:text-primary dark:hover:bg-meta-4"
                          >
                            Bathroom
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
            </div>
        </div>

    </div>
</div>