<div
  x-show="modalOpen"
  x-transition
  class="fixed left-0 top-0 z-999999 flex h-full min-h-screen w-full items-center justify-center bg-black/90 px-4 py-5"
>
  <div
    @click.outside="modalOpen = false"
    class="w-full max-w-142.5 rounded-lg bg-white px-8 py-12 text-center dark:bg-boxdark md:px-17.5 md:py-15"
  >
    <div class="flex justify-center mb-5.5"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
<rect opacity="0.1" width="60" height="60" rx="30" fill="#DC2626"/>
<path d="M34 37.5C33.9019 39.9692 31.8441 42.0659 29.0875 41.9984C28.4461 41.9827 27.6535 41.7592 26.0682 41.312C22.2528 40.2357 18.9407 38.4271 18.1461 34.3753C18 33.6307 18 32.7925 18 31.1164V28.8836C18 27.2075 18 26.3694 18.1461 25.6246C18.9407 21.5729 22.2528 19.7642 26.0682 18.688C27.6535 18.2408 28.4461 18.0173 29.0875 18.0016C31.8441 17.9341 33.9019 20.0308 34 22.5" stroke="#FB5454" stroke-width="1.5" stroke-linecap="round"/>
<path d="M41.9997 29.9998H27.333M41.9997 29.9998C41.9997 29.0662 39.3406 27.3219 38.6663 26.6665M41.9997 29.9998C41.9997 30.9334 39.3406 32.6778 38.6663 33.3332" stroke="#FB5454" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></div>

    <h3 class="text-title-sm2 font-bold text-slate-900 dark:text-white mb-4">
                Select Outcome
            </h3>
    
    <p class="mb-10 font-medium">
      You will be signed out of your account.
    </p>
    <div class="-mx-3 flex flex-wrap gap-y-4">
      <div class="w-full px-3 2xsm:w-1/2">
        <button
          @click="modalOpen = false"
          class="block w-full rounded border border-stroke bg-gray p-3 text-center font-medium text-black transition hover:border-primary  dark:border-strokedark dark:bg-meta-4 dark:text-white dark:hover:border-meta-1 dark:hover:bg-meta-1"
        >
          No
        </button>
      </div>
      <div class="w-full px-3 2xsm:w-1/2">
        <button
          class="block w-full rounded border border-red bg-red p-3 text-center font-medium text-white transition hover:bg-opacity-90 hover:border-meta-1 hover:bg-meta-1"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
